body {
    margin: 0;
    
    }
.cuadromayor{
    border-style: solid;
    border-color: red;
    border-width: 2px
}

.contacto{
    border-style: solid;
    border-color:blue;
    border-width: 2px
    width: 80px; height: 80px;

}
.uno, .dos , .tres , .cuatro , .cinco , .seis{
    border-style: solid;
    border-color: darkgoldenrod;
    border-width: 1.5px
    width: 82.3px; height: 82.3px;
}
.alvaro {
    border-style: solid;
    border-color:blue;
    border-width: 1.5px
    width: 80px; height: 80px;
}
.espacioescribir{
    border-style: solid;
    border-color: green;
    border-width: 1.5px
    width: 80px; height: 120px;
}
.principal{
    border-style: solid;
    border-color: gray;
    border-width: 2px
}
.izquierda{
    border-style: solid;
    border-color: rgb(187, 224, 21);
    border-width: 2px
}
.principal{
    border-style: solid;
    border-color: rgb(38, 155, 67);
    border-width: 2px 
}
.derecha{
    border-style: solid;
    border-color: rgb(228, 63, 153);
    border-width: 2px
}
.vacio{
    border-style: solid;
    border-color: rgb(71, 48, 5);
    border-width: 1.5px 
    width: 80px; height: 400px;

}
.cuadromayor{
    display: grid;
    grid-template-columns: 50% 50%;
}
.contacto{
    font-family:Calibri;
    text-align: center;
    padding: 1em 3px 30px 5px;
}
.juan{
    font-family:Calibri;
    text-align: center;
    padding: 1em 3px 30px 5px;
}
.primer, .segun , .tercer , .cuarto , .quinto , .sexto{
    font-family:Calibri;
}
.ingreso{
    width: 738px; height: 115px;
    font-family:Calibri;
}